<div class="text-center">
    <ul class="pagination">
      <li ng-repeat="page in pagination.pagination" ng-class="{active: pagination.currentPage == page}"><a href="" ng-click="showPage(page)">{{page}}</a></li>
      <li ng-class="{active: pagination.currentPage == 'all', invisible: pagination.pagination.length < 1 }"><a href="" ng-click="showPage()">Все</a></li>
    </ul>
  </div>