﻿<br>
<form name="userAddForm">
    <div class="panel panel-info">

        <div class="panel-heading">
            <h3 class="panel-title">{{user.family + ' ' + user.name + ' ' + user.otchestvo}}</h3>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center">
                    <img src="{{user.avatar}}" class="img-circle" />
                    <input type="file" ng-file-select="onFileSelect($files)" ng-model="user.avatar"/>
                </div>
                <div class="col-md-9 col-lg-9">
                    <div class="input-group">
                        <span class="input-group-addon">Имя</span>
                        <input type="text" class="form-control" required ng-model="user.name">
                    </div>
                    </br>
                    <div class="input-group">
                        <span class="input-group-addon">Фамилия</span>
                        <input type="text" class="form-control" required ng-model="user.family">
                    </div>
                    </br>
                    <div class="input-group">
                        <span class="input-group-addon">Отчество</span>
                        <input type="text" class="form-control" required ng-model="user.otchestvo">
                    </div>
                    </br>
                    <div class="input-group">
                        <span class="input-group-addon">Номер телефона</span>
                        <input type="text" class="form-control" ng-required="!user.email" ng-model="user.mobileNumber" ui-mask="8-(999)-999-9999"  ui-mask-placeholder ui-mask-placeholder-char="_">
                    </div>
                    </br>
                    <div class="input-group">
                        <span class="input-group-addon">Email</span>
                        <input type="email" class="form-control" ng-required="!user.mobileNumber" ng-model="user.email">
                    </div>
                    </br>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="btn-toolbar">
                <div class="btn-group pull-right">
                    <button name="send" class="btn btn-info" ng-click="saveUser(user.id, user, userAddForm)">Сохранить</button>
                    <button class="btn btn-danger" ng-click="returnUsersCards()">Отмена</button>
                </div>
            </div>
        </div>

    </div>
</form>