<br>
<div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{user.family + ' ' + user.name + ' ' + user.otchestvo}}</h3>
        </div>
  
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center">
                    <img src="{{user.avatar}}" class="img-circle img-responsive"/>
                </div>
                <div class="col-md-9 col-lg-9">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <td>Регистрационный номер</td>
                                <td>{{user.id}}</td>
                            </tr>
                            <tr>
                                <td>Телефон</td>
                                <td>{{user.mobileNumber}}</td>
                            </tr>
                            <tr><td>Email</td><td><a ng-href="mailto:{{user.email}}">{{user.email}}</a></td></tr>
                            <tr>
                                <td>Дата регистрации</td>
                                <td>{{user.registerDate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
  
        <div class="panel-footer">
            <div class="btn-toolbar">
                <button class="btn btn-info pull-right" ng-click="returnUsersCards()">Назад</button>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Заказы</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Номер заказа</th>
                        <th>Дата заказа</th>
                        <th>Сумма заказа</th>
                        <th>Статус заказа</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in user.purchaseLiteDtos">
                        <td>{{p.numberPurchase}}</td>
                        <td>{{p.datePurchase}}</td>
                        <td>{{p.sumPrice}}</td>
                        <td>{{p.statePurchases}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>





