
<div>
  </br>
  <button type="button" class="btn btn-primary btn-block" ng-click="addUser()">Добавить нового пользователя</button>
  </br>
  <p><input class="form-control" placeholder="Поиск..." ng-model="search"/></p>
  <div ng-repeat="user in users | orderBy: 'family' | limitTo : pagination.itemsOnPage : pagination.start | filter : search">              
      <div class="panel panel-info">

          <div class="panel-heading">
              <h3 class="panel-title">{{user.family + ' ' + user.name + ' ' + user.otchestvo}}</h3>
          </div>
        
          <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center">
                  <img src="{{user.avatar}}" class="img-circle"/>
                </div>
                <div class="col-md-9 col-lg-9">
                    <table class="table table-user-information">
                        <tbody>
                        <tr>
                            <td>Телефон</td>
                            <td>{{user.mobileNumber}}</td>
                        </tr>
                        <tr><td>Email</td>
                            <td><a ng-href="mailto:{{user.email}}">{{user.email}}</a></td></tr>
                        <tr>
                            <td>Дата последней покупки</td>
                            <td ng-if="user.datePurchases != '01.01.0001'">{{user.datePurchases}}</td>
                            <td ng-if="user.datePurchases == '01.01.0001'">Нет покупок</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
        
          <div class="panel-footer">
            <div class="btn-toolbar">
                <div class="btn-group"><button class="btn btn-default" ng-click="getUser(user.id)">Подробнее</button></div>
                <div class="btn-group pull-right">
                  <button class="btn btn-info" ng-click="editUser(user)">Изменить</button>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#delWindow" ng-click="tempId(user.id)">Удалить</button>
                    
                    <div id="delWindow" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Уведомление</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Вы действительно хотите удалить данного пользователя?</p>
                                </div>
                                <div class="modal-footer">
                                    <div class="btn-group pull-right">
                                        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="delUser()">Удалить</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
              </div>
          </div>
      </div>
  </div>
</div>



